* {
  box-sizing: border-box;
}

html {
  font-size: calc(15px + 0.390625vw);
  line-height: 120%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  background-color: #fff;
  padding: .8rem 2rem;
  z-index: 99;
}
nav a:link {
  padding: 0 .3rem 0 0;
  font-size: .8rem;
  color: #000;
}
nav a:visited {
  color: #333;
}
nav a:hover {
  color: blueviolet;
}


.sticker-container {
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 2rem 10rem 2rem 2rem;
  padding-top: 3rem; /* same as stick pos top in .stickme */
  /* border:solid 1px red; */
}

.stickme {
  padding: 2rem;
  position: sticky;
  top:3rem; /* see .sticker-container */
  /* border:solid 1px blueviolet; */
  flex:1;
}

h1 {
  font-size: 7rem;
  text-align: right;
  margin: 0;
  line-height: 100%;
}

h2 {
  font-size: 2rem;
  text-align: right;
  font-style: italic;
}



article {
  /* border:solid 1px red; */
  font-size: 1rem;
  flex:1;
  z-index: 100;
}
/* 
section:nth-child(odd) {
  background: darkseagreen;
}

section:nth-child(even) {
  background: lightblue;
} */


@media  (max-width:800px) {
  .sticker-container {
    display:block;
    margin: 2rem;
  }
  .stickme {
    position:relative;
    padding: 0;
    /* border:solid 1px blueviolet; */
  }
  h1, h2 {
    text-align: left;
    padding: 0;
  }
  h1{font-size: 5rem;}
}